# Игнорируем папки сборки CMake
out/
build/
CMakeCache.txt
CMakeFiles/

# Игнорируем настройки редакторов
.vs/
.vscode/

# Игнорируем саму библиотеку OpenCV (если она лежит прямо в папке)
opencv/

# Игнорируем скомпилированные программы
*.exe
*.dll